p {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    margin-top: -5px;
}

ul {
    display: flex;
    flex-direction: column;
}
.singlebook-container {
    background-color: lightgray;
    margin-top: 30px;
    border: 1px solid darkblue;
}

.book-container {
    background-color: white;
}

