p {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

ul {
    display: flex;
    flex-direction: column;
}
.singlebook-container {
    background-color: white;
    margin: 5px 5px 5px 5px;
    border: 1px solid darkblue;
}

.book-container {
    background-color: white;
}